*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

@font-face {
	font-family: "Consolas";
	src: url("../fonts/Consolas-Italic.woff2") format("woff2"), url("../fonts/Consolas-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Consolas";
	src: url("../fonts/Consolas-BoldItalic.woff2") format("woff2"),
		url("../fonts/Consolas-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Consolas";
	src: url("../fonts/Consolas-Bold.woff2") format("woff2"), url("../fonts/Consolas-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Consolas";
	src: url("../fonts/Consolas.woff2") format("woff2"), url("../fonts/Consolas.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pequena Neo";
	src: url("../fonts/PequenaNeo-Black.eot");
	src: local("Pequena Neo Black"), local("PequenaNeo-Black"),
		url("../fonts/PequenaNeo-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-Black.woff2") format("woff2"), url("../fonts/PequenaNeo-Black.woff") format("woff"),
		url("../fonts/PequenaNeo-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Pequena Neo";
	src: url("../fonts/PequenaNeo-Bold.eot");
	src: local("Pequena Neo Bold"), local("PequenaNeo-Bold"),
		url("../fonts/PequenaNeo-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-Bold.woff2") format("woff2"), url("../fonts/PequenaNeo-Bold.woff") format("woff"),
		url("../fonts/PequenaNeo-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Pequena Neo Shadow";
	src: url("../fonts/PequenaNeo-ShadowBlack.eot");
	src: local("Pequena Neo Shadow Black"), local("PequenaNeo-ShadowBlack"),
		url("../fonts/PequenaNeo-ShadowBlack.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-ShadowBlack.woff2") format("woff2"),
		url("../fonts/PequenaNeo-ShadowBlack.woff") format("woff"),
		url("../fonts/PequenaNeo-ShadowBlack.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Pequena Neo Dingbats";
	src: url("../fonts/PequenaNeo-Dingbats.eot");
	src: local("Pequena Neo Dingbats"), local("PequenaNeo-Dingbats"),
		url("../fonts/PequenaNeo-Dingbats.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-Dingbats.woff2") format("woff2"),
		url("../fonts/PequenaNeo-Dingbats.woff") format("woff"),
		url("../fonts/PequenaNeo-Dingbats.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pequena Neo";
	src: url("../fonts/PequenaNeo-ExtraBold.eot");
	src: local("Pequena Neo ExtraBold"), local("PequenaNeo-ExtraBold"),
		url("../fonts/PequenaNeo-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-ExtraBold.woff2") format("woff2"),
		url("../fonts/PequenaNeo-ExtraBold.woff") format("woff"),
		url("../fonts/PequenaNeo-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Pequena Neo Shadow";
	src: url("../fonts/PequenaNeo-ShadowBold.eot");
	src: local("Pequena Neo Shadow Bold"), local("PequenaNeo-ShadowBold"),
		url("../fonts/PequenaNeo-ShadowBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-ShadowBold.woff2") format("woff2"),
		url("../fonts/PequenaNeo-ShadowBold.woff") format("woff"),
		url("../fonts/PequenaNeo-ShadowBold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Pequena Neo Shadow";
	src: url("../fonts/PequenaNeo-ShadowExtraBold.eot");
	src: local("Pequena Neo Shadow ExtraBold"), local("PequenaNeo-ShadowExtraBold"),
		url("../fonts/PequenaNeo-ShadowExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-ShadowExtraBold.woff2") format("woff2"),
		url("../fonts/PequenaNeo-ShadowExtraBold.woff") format("woff"),
		url("../fonts/PequenaNeo-ShadowExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Pequena Neo";
	src: url("../fonts/PequenaNeo-Regular.eot");
	src: local("Pequena Neo Regular"), local("PequenaNeo-Regular"),
		url("../fonts/PequenaNeo-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-Regular.woff2") format("woff2"), url("../fonts/PequenaNeo-Regular.woff") format("woff"),
		url("../fonts/PequenaNeo-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pequena Neo Shadow";
	src: url("../fonts/PequenaNeo-ShadowRegular.eot");
	src: local("Pequena Neo Shadow Regular"), local("PequenaNeo-ShadowRegular"),
		url("../fonts/PequenaNeo-ShadowRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PequenaNeo-ShadowRegular.woff2") format("woff2"),
		url("../fonts/PequenaNeo-ShadowRegular.woff") format("woff"),
		url("../fonts/PequenaNeo-ShadowRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

main {
	background-color: black;
	max-width: 1050px;
}
.header {
	font-family: "Pequena Neo";
	font-size: 30px;
	background-color: rgb(2, 138, 138);
	color: white;
	text-shadow: 3px 3px 5px violet;
}
.box {
	border: 10px double;
	padding: 15px 10px;
	text-align: center;
	display: block;
	max-width: 400px;
	line-height: 23px;
	font-size: 18px;
	text-transform: uppercase;
	background-color: teal;
	margin-left: 300px;
	margin-top: 50px;
}
.box1 {
	border: 4px solid grey;
	padding: 15px 10px;
	text-align: center;
	display: inline-block;
	width: 200px;
	line-height: 23px;
	font-size: 18px;
	text-transform: uppercase;
	background-color: rgb(15, 138, 238);
	box-shadow: 30px 30px 50px rgba(5, 89, 216, 0.973);
	margin-top: 100px;
}
.box2 {
	border: 4px solid grey;
	padding: 15px 10px;
	text-align: center;
	display: inline-block;
	width: 200px;
	line-height: 23px;
	font-size: 18px;
	text-transform: uppercase;
	background-color: rgb(216, 5, 5);
	box-shadow: -30px 30px 50px rgb(189, 5, 5);
	margin-left: 200px;
}

h2 {
	font-family: "Pequena Neo";
}
.text {
	font-family: "Consolas";
	color: silver;
	margin: 0px 30px;
	padding: 0px 10px;
}

h3 {
	font-family: "Pequena Neo";
	color: rgb(214, 190, 190);
	font-size: 40px;
	border-radius: 50%;
	text-shadow: 1px 2px 20px white;
	background-color: rgb(204, 3, 3);
	max-width: 700px;
	display: inline-block;
	margin-left: 230px;
}
.box3 {
	border: 3px dotted rgb(10, 241, 60);
	display: block;
	max-width: 1000px;
	margin: 30px;
	text-shadow: 0px 10px 10px green;
	padding: 10px;
	border-radius: 10px 50px 10px 50px;
}
p > span {
	color: green;
}
.box4 {
	outline: solid yellowgreen;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.image {
	margin-left: 30px;
	margin-right: 150px;
	display: inline-block;
}
.bh1 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: maroon;
	border-radius: 10px;
	max-width: 400px;
	border: 10px solid white;
}
p {
	font-family: "Consolas";
}
.bh2 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: rgb(128, 0, 64);
	border-radius: 15px;
	max-width: 400px;
	border: 10px dashed white;
}
.bh3 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: rgb(161, 3, 101);
	border-radius: 20px;
	max-width: 400px;
	border: 10px dotted white;
}
.bh4 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: rgb(194, 2, 168);
	border-radius: 25px;
	max-width: 400px;
	border: 10px double white;
}
.bh5 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: rgb(149, 4, 206);
	border-radius: 30px;
	max-width: 400px;
	border: 10px groove white;
}

.bh6 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: rgb(114, 22, 201);
	border-radius: 35px;
	max-width: 400px;
	border: 10px inset white;
}
.bh7 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: rgb(86, 4, 194);
	border-radius: 40px;
	max-width: 400px;
	border: 10px outset;
}
.bh8 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: rgb(58, 4, 206);
	border-radius: 45px;
	max-width: 400px;
	border: 10px ridge white;
}
.bh9 {
	color: white;
	display: inline-block;
	margin: 30px;
	padding: 20px;
	background-color: rgb(6, 39, 228);
	border-radius: 50px;
	max-width: 400px;
	border-right: 10px double white;
	border-top: 20px outset white;
	border-left: 10px dotted powderblue;
	border-bottom: 5px dashed rgb(10, 91, 241);
}
.box5 {
	border-radius: 50%;
	background-color: rgb(10, 91, 241);
	width: 300px;
	height: 300px;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
}
h4 {
	font-family: "Pequena Neo";
	color: rgb(2, 1, 1);
	font-size: 40px;
	text-shadow: 1px 2px 20px white;
	max-width: 700px;
	display: inline-block;
}
.box6 {
	margin-left: 30px;
	margin-top: 30px;
}
.box6 > img {
	margin-left: 50px;
	max-width: 400px;
	margin-top: 50px;
}

.p1 {
	outline: 5px solid yellowgreen;
}
.p2 {
	outline: 10px dashed rgb(67, 185, 126);
}
.p3 {
	outline: 5px double rgb(27, 172, 140);
}

.p4 {
	outline: 10px dotted rgb(201, 243, 117);
}

.p5 {
	outline: 10px inset rgb(29, 223, 29);
}

.p6 {
	outline: 5px outset rgb(177, 205, 50);
}

.p7 {
	outline: 5px ridge rgb(170, 218, 75);
}
.p8 {
	outline: 5px groove rgb(55, 180, 16);
}

.box7 {
	border-radius: 50%;
	background-color: rgb(46, 216, 131);
	width: 300px;
	height: 300px;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 20px dashed rgb(118, 218, 18);
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 5px 30px fuchsia;
	margin-bottom: 50px;
	margin-top: 50px;
}
img.pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
.pic8 {
	margin-top: -360px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
}
.pic8:hover {
}
.box8:hover .pic8 {
	visibility: visible;
}
.box8 {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	margin-bottom: 50px;
}
.box8 hover;
